<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 style="text-align: center">{{ titulo }}</h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <form class="form-group row">
        <div class="form-group col-md-3">
          <label for="nombre">Nombre: </label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            name="nombre"
            placeholder="Nombre"
            [(ngModel)]="cuadroNombre"
          />
        </div>
        <div class="form-group col-md-3">
          <label for="apellidos">Apellido: </label>
          <input
            type="text"
            class="form-control"
            id="apellidos"
            name="apellidos"
            placeholder="apellidos"
            [(ngModel)]="cuadroApellido"
          />
        </div>
        <div class="form-group col-md-3">
          <label for="nombre">Cargo: </label>
          <input
            type="text"
            class="form-control"
            id="cargo"
            name="cargo"
            placeholder="Cargo"
            [(ngModel)]="cuadroCargo"
          />
        </div>
        <div class="form-group col-md-3">
          <label for="nombre">Salario: </label>
          <input
            type="text"
            class="form-control"
            id="salario"
            name="salario"
            placeholder="Cargo"
            [(ngModel)]="cuadroSueldo"
          />
        </div>
        <div class="col mt-3">
          <input
            type="submit"
            class="btn btn-primary"
            value="Agregar Empleado"
            (click)="agregarEmpleado()"
          />
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container centrado mt-5">
  <div class="row">
    <div class="col">
      <div
        class="card text-center mt-3"
        *ngFor="let empleado of empleados; let i = index"
      >
        <div class="card-header">
          <strong
            >Empleado {{ i + 1 }}: {{ empleado.nombre }}
            {{ empleado.apellido }}</strong
          >
        </div>
        <div class="card-body">
          Cargo: {{ empleado.cargo }}
          <br />
          Salario: {{ empleado.sueldo }}
        </div>
      </div>
    </div>
  </div>
</div>
